.dropdown__btn {
  --gap: 0.45rem;

  border: none;
  background: transparent;
  cursor: pointer;
  font-size: var(--font-size-400);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

@media (max-width: 47.99em) {
  .dropdown__btn.bold {
    font-weight: var(--font-weight-bold);
  }
}
