.dropdown {
  position: relative;
}

.dropdown__btn {
  --gap: 0.35rem;

  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.dropdown__list-item {
  font-size: 18px;
}

.dropdown__list-item,
.dropdown__inner-list-item {
  color: var(--black);
}
