.list__link,
.list__inner-link {
  color: var(--black);
}

@media (max-width: 47.99em) {
  .list__image-wrapper {
    display: none;
  }
}

.list__image {
  width: 8rem;
  height: 5rem;
}

@media (max-width: 47.99em) {
  .list {
    margin-top: 1rem;
  }
}

@media (min-width: 48em) {
  .dropdown__container {
    position: absolute;
    top: 102.5%;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding-block: 3rem;
  }

  .list {
    column-gap: 5rem;
    row-gap: 2rem;

    grid-template-columns: 1fr 1fr;
  }
}
