.hero-section {
  padding-block-start: 3rem;
}

.hero__title {
  margin-bottom: 1.75rem;
}

@media (min-width: 48em) {
  .hero__title {
    margin-bottom: 0.5rem;
  }
}

.hero__cards {
  --flow-space: 3.5rem;
}
