.btn {
  display: block;
  padding: 0.6125rem 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
}

.btn--light {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

.btn--light:hover {
  background-color: var(--blue);
  color: var(--white);
}

.btn--peach {
  background-color: var(--peach);
  color: var(--white);
}
