.card {
  text-align: left;
}

.card__image {
  width: 100%;
}

.card__description {
  margin-bottom: 1.25rem;
}

@media (min-width: 48em) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title image"
      "content image";
  }

  .card__title {
    grid-area: title;
    align-self: end;
  }

  .card__image-wrapper {
    grid-area: image;
  }

  .card__content {
    grid-area: content;
  }
}

.card__link {
  color: var(--blue);
  transition: all 0.3s ease;
  font-size: var(--font-size-200);
}

.card__link:hover {
  color: var(--gray);
}
